.A {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: aqua;

    display: inline;
}

.B {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: aqua;

    display: inline;
}

.C {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: aqua;

    display: inline;
}

.D {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: red;

    display: block;
}

.E {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: red;

    display: block;
}

.F {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: red;

    display: block;
}

.G {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: yellow;

    display: inline-block;
}

.L {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: yellow;

    display: inline-block;
}

.M {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: yellow;

    display: inline-block;
}