h1 {
    text-transform: lowercase; /* ტექსტს იყვანს პატარა ასოებში */
    text-decoration: line-through; /* ტექსტში ავლებს ხაზს */
    text-align: center; /* ტექსტს სვამს ვებსაიტის შუა ნაწილში */
    letter-spacing: 10px; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: 10px; /* ცვლის ტექსტში სიტყვებს შორის დაშორებას */
    text-shadow: 1px, 2px, 3px, red; /* ტექსტს ანიჭებს ჩრდილს */
}

h2 {
    text-transform: uppercase; /* ტექსტს იყვანს პატარა ასოებში */
    text-decoration: overline; /* ტექსტს აძლევს ზედახაზს */
    text-align: left; /* ტექსტს სვამს ვებსაიტის მარცხენა ნაწილში */
    letter-spacing: 1em; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: 1em; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    text-shadow: 10px, 20px, 30px, yellow; /* ტექსტს ანიჭებს ჩრდილს */
}

h3 {
    text-transform: capitalize; /* ტექსტის ყოველი სიტყვის პირველ ასოს ხდის დიდს, დანარჩენს კი ტოვებს პატარად. */
    text-decoration: underline; /* ტექსტს აძლევს ქვედახაზს */
    text-align: right; /* ტექსტს სვამს ვებსაიტის მარჯვენა ნაწილში */
    letter-spacing: normal; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: normal; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    text-shadow: 100px, 200px, 300px, blue; /* ტექსტს ანიჭებს ჩრდილს */
}