header {
    font-family: cursive;
    
    position: relative;
    bottom: 20px;
}


nav {
    position: fixed;
    top: 0px;
    left: 400px;

    font-family: cursive;
    color: black;
}

#A {
    position: relative;
    bottom: 45px;

    font-family: cursive;
}

