table {
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

tr:nth-child(2) {
    color: white;
    background-color: rgb(103, 211, 185);
}

tr:nth-child(odd) {
    color: white;
    background-color: rgb(37, 191, 155);
}

tr:nth-child(4) {
    color: white;
    background-color: rgb(37, 191, 155);
}

tr:nth-child(6) {
    color: white;
    background-color: rgb(37, 191, 155);
}

tr:nth-child(8) {
    color: white;
    background-color: rgb(37, 191, 155);
}