h1 {
    font-family: cursive;
    color: black;
    text-align: center;
}

p {
    font-family: cursive;
    color: black; 
}

li {
    font-family: cursive;
    color: black;
}

button {
    text-align: center;
}