h1 {
    text-align: center; /* ტექსტს სვამს ვებსაიტის შუა ნაწილში */
    text-decoration: line-through; /* ტექსტში ავლებს ხაზს */
    letter-spacing: 1000px; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: 1000px; /* ცვლის ტექსტში სიტყვებს შორის დაშორებას */
}

h2 {
    text-align: left; /* ტექსტს სვამს ვებსაიტის მარცხენა ნაწილში */
    text-decoration: overline; /* ტექსტს აძლევს ზედახაზს */
    letter-spacing: 1000em; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: 1000em; /* ცვლის ტექსტში სიტყვებს შორის დაშორებას */
}

h3 {
    text-align: right; /* ტექსტს სვამს ვებსაიტის მარჯვენა ნაწილში */
    text-decoration: underline; /* ტექსტს აძლევს ქვედახაზს */
    letter-spacing: normal; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: normal; /* ცვლის ტექსტში სიტყვებს შორის დაშორებას */
} 

h4 {
    text-align: end; /* ტექსტს სვამს ვებსაიტის სულ ბოლო ნაწილში*/
    text-decoration: none; /* ტექსტს დეკორაციას არ აძლევს */
    letter-spacing: 1000cm; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: 1000cm; /* ცვლის ტექსტში სიტყვებს შორის დაშორებას */
}

h5 {
    text-align: start; /* ტექსტს სვამს ვებსაიტის დასაწყის ნაწილში */
    text-decoration: wavy; /* ტექსტს შეცვლის რაღაცნაირად, მაგრამ შედეგი არ დაეტყობა */
    letter-spacing: 1000ch; /* ცვლის ტექსტში სიტყვების ასოების შორის დაშორებას */
    word-spacing: 1000ch; /* ცვლის ტექსტში სიტყვებს შორის დაშორებას */
}