button {
    color: red;
}

.button {
    color: blue;
}

#button-1 {
    color: aqua;
}

#button-2 {
    color: violet;
}

#button-3 {
    color: orange;
}

#button-4 {
    color: grey;
}

#button-5 {
    color: aliceblue;
}