p {
    color: red; /* ეს თვისება ტექსტს ანიჭებს ფერს, კონკრეტულად ამ შემთხვევაში ეს თვოსება ტექსტს აძლევს წითელ ფერს */
    font-weight: 900; /* ეს თვისება ტექსტს ანიჭებს სიმუქეს, ამ შემთხვევაში ამუქებს ყველაზე დიდ დონეზე */
    background-color: aqua; /* ეს თვისება ტექსტს ანიჭებს უკანაფონის ფერს, ამ შემთხვევაში ანიჭებს ცისფერ ფერს. */
    font-family: cursive, Georgia, serif; /* ეს თვისება ტექსტს ანიჭებს ტექსტის შრიფტის სტილს, კონკრეტულად ამ შემთხვევაში პირველად cursive ტიპს, თუ ბროუზერი მხარს არ უჭერს ამ შრიფტის სტილს, მაშინ ის გადავა შემდეგ სტილზე ანუ georgia-ზე, თუ არც georgia-ს უჭერს მხარს ბროუზერი მაშინ გადავა serif-ზე. */
}