/* Finally!1!11! We are actually using a proper CSS file controllers! What a beatuful code! */

h1 {
    font-family: 3em;
    background-color: blue;
    text-align: center;
}

/* (get prepared for [Gen Z] yapping):
/* As you know, the code presented upwards looks VERY, VERY, VERY beutiful. This is because the styling type is the... "EXTERNAL WAY"-!!!. This way of styling is extremely GOATED, like just look at the code. so in normal language this way is very professional. It is very handy to NOT fill your whole HTML file and very handy to NOT type some DISGUSTING, FLABBERGASTING and DISTURBING code IN your HTML file. (end of yapping, yappity yappatron II)

