h1 {
    font-family: cursive;
    background-color: aliceblue;
    font-size: 2em;
    text-align: center;
}



p {
    font-family: cursive;
    color: dimgrey;
    text-align: center;
}

h3 {
    color: black;
    font-family: cursive;
}

li {
    font-family: cursive;
}


